@model List<PrzychodniaLekarska.Models.LekarzModel>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista lekarzy</h2>

<br />
<div>
    @Html.ActionLink("Dodaj nowego lekarza", "Create", null, new { @class = "btn btn-default" })
</div>
<br />

<table class="table table-hover">
    <tr>
        <th>Imię i nazwisko</th>
        <th>Adres</th>
        <th>Adres mail</th>
        <th>Numer telefonu</th>
        <th>Urlop</th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address) </td>
            <td>@Html.DisplayFor(modelItem => item.MailAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Vacation)</td>
            <td>
                @*@Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })*@
            </td>
        </tr>
    }
</table>